@model EmpresaDeCarga.Models.Entities.Paquete

@{
    ViewData["Title"] = "DetallesCliente";
}

@section Styles{
    <style>
        .detalle{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-top: 20%;
        }
    </style>
}


<div class="row">
    <div class="col-md-6">
        <div class="detalle">
            <h2>Envío.</h2>
            <hr />
            <form asp-route-id="@Model.Codigo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Código: @Model.Codigo</label>
                </div>
                <div class="form-group">
                    <label class="control-label">Peso: @Model.PesoLibras</label>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado: @Model.EstadoId</label>
                </div>
                <div class="form-group">
                    <label class="control-label">Total: @Model.ValorPago</label>
                </div>
                <a asp-action="IndexClientes">Volver</a>
            </form>
        </div>
    </div>
</div>