@model IEnumerable<EmpresaDeCarga.Models.Entities.Cliente>

@{
    ViewData["Title"] = "IndexClientes";
}

@section Styles{
    <link href="~/css/estilos.css" rel="stylesheet" />
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="botonCrear">
                <br />
                <p>
                    <a asp-action="RegistrarClientes" class="btn btn-light"><i class="fas fa-plus"></i>Agregar un nuevo cliente</a>
                </p>
                <br />
            </div>
            <table class="table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CasilleroId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DireccionEntrega)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelx => x.CasilleroId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelx => x.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelx => x.Correo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelx => x.DireccionEntrega)
                            </td>
                            <td>
                                <a asp-action="EditarClientes" asp-route-id="@x.CasilleroId" class="btn alert-primary"><i class="fas fa-edit"></i></a> |
                                <a asp-action="DetallesCliente" asp-route-id="@x.CasilleroId" class="btn alert-secondary"><i class="fas fa-info-circle"></i></a> |
                                <form asp-action="EliminarCliente" asp-route-id="@x.CasilleroId" class="d-inline">
                                    <button type="submit" onclick="confirm('¿Desea eliminar este cliente?')" class="btn alert-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
