@model IEnumerable<EmpresaDeCarga.Models.Entities.Cliente>

@{
    ViewData["Title"] = "Index";
}

@section Styles{

}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Clientes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Clientes" asp-controller="Admin">Inicio</a></li>
                    <li class="breadcrumb-item active">Clientes</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">


        <br />
        <p>
            <a asp-action="CrearEditarCliente" class="btn btn-success"><i class="fas fa-user-plus"></i> Agregar un nuevo cliente</a>
        </p>
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CasilleroId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DireccionEntrega)
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>                        
                        <td>
                            @Html.DisplayFor(modelx => x.CasilleroId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelx => x.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelx => x.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelx => x.DireccionEntrega)                        
                        </td>
                        <td>
                            <a class="text-success" asp-action="CrearEditarCliente" asp-route-id="@x.CasilleroId"><i class="fas fa-user-edit"></i> Editar </a> |
                            <a asp-action="DetalleCliente" asp-route-id="@x.CasilleroId"><i class="fas fa-search-plus"></i> Detalle</a> 
                            <form asp-action="EliminarCliente" asp-route-id="@x.CasilleroId" class="d-inline">
                                <button type="submit" onclick="confirm('¿Desea eliminar?')" class="btn btn-danger"><i class="fas fa-user-minus"></i>Eliminar</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>